{% extends 'base.html' %}
{% load static %}
{% block content %}
						
{% comment %} <section class="google_map">
	<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=74%2F6+Nguy%E1%BB%85n+V%C4%83n+Tho%E1%BA%A1i,+S%C6%A1n+Tr%C3%A0,+%C4%90%C3%A0+N%E1%BA%B5ng,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=74%2F6+Nguyen+Van+Thoai+Da+Nang,+Viet+Nam&amp;sll=37.0625,-95.677068&amp;sspn=41.546728,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=74+Nguy%E1%BB%85n+V%C4%83n+Tho%E1%BA%A1i,+Ng%C5%A9+H%C3%A0nh+S%C6%A1n,+Da+Nang,+Vietnam&amp;t=m&amp;ll=16.064537,108.24151&amp;spn=0.032992,0.039396&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
</section>
<section class="header_text sub">
<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products" >
	<h4><span>Contact Us</span></h4>
</section> {% endcomment %}
<section class="main-content">				
	<div class="row">				
		<div class="span5">
			<div>
				<h5>ADDITIONAL INFORMATION</h5>
				<p><strong>Phone:</strong>&nbsp;(09) 420-148-465<br>
				<strong>Fax:</strong>&nbsp;+04 (123) 456-7890<br>
				<strong>Email:</strong>&nbsp;<a href="#">admin@tharapa.com</a>								
				</p>
				<br/>
				<h5>SECONDARY OFFICE IN Japan</h5>
				<p><strong>Phone:</strong>&nbsp;(070) 4333-1442<br>
				<strong>Fax:</strong>&nbsp;+04 (113) 023-1145<br>
				<strong>Email:</strong>&nbsp;<a href="#">jpoffice@tharapa.com</a>					
				</p>
			</div>
			<div>
				<h5><a href="{% url 'checklist' %}">Check Register List</a></h5>
			</div>
		</div>
		<div class="span7">
			<h5>Please kindly fill the following contact form for your information..</h5>
			{% if record %}
			<form method="post" action="{% url 'update' record.id %}">
			{% else %}
			<form method="post" action="{% url 'register' %}">
			{% endif %}
			{% csrf_token %}
				<fieldset>
					<div class="clearfix">
						<label for="name"><span>Name:</span></label>
						<div class="input">
							<input tabindex="1" size="18" name="name" type="text" value="{{record.name}}" class="input-xlarge" placeholder="Name">
						</div>
					</div>
					
					<div class="clearfix">
						<label for="email"><span>Email:</span></label>
						<div class="input">
							<input tabindex="2" size="25" name="email" type="text" value="{{record.email}}" class="input-xlarge" placeholder="Email Address">
						</div>
					</div>

					<div class="clearfix">
						<label for="phone"><span>Phone:</span></label>
						<div class="input">
							<input tabindex="2" size="25" name="phone" type="text" value="{{record.phone}}" class="input-xlarge" placeholder="Phone Number">
						</div>
					</div>

					<div class="clearfix">
						<label for="address"><span>Address:</span></label>
						<div class="input">
							<input tabindex="2" size="25" name="address" type="text" value="{{record.address}}" class="input-xlarge" placeholder="Address">
						</div>
					</div>
					
					<div class="clearfix">
						<label for="message"><span>Message:</span></label>
						<div class="input">
							<textarea tabindex="3" class="input-xlarge" name="message" value="{{record.message}}" rows="7" placeholder="Message"></textarea>
						</div>
					</div>
					
					<div class="actions">
						<button tabindex="3" type="submit" class="btn btn-inverse">Register</button>
					</div>
				</fieldset>
			</form>
		</div>				
	</div>
</section>			

{% endblock content %}